@model IEnumerable<IQSec_PT.Models.Vehiculo>

@{
    ViewData["Title"] = "View";
}

<h1>Placas registradas</h1>

<p>
    <a asp-action="Create">Alta placas vehículo.</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.placas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.placas)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>
